@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SometypeMono-Regular";
  src: url("/fonts/SometypeMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "ProtoMono-Regular";
  src: url("/fonts/ProtoMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
